<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">Lista de compras</h1>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Versão</h2>
        <p>1.0.0</p>
      </ion-label>
    </ion-item>
    <ion-item href="http://www.fabricadecodigo.com">
      <ion-label>
        <h2>Desenvolvido por</h2>
        <p>Fábrica de Código</p>
      </ion-label>
    </ion-item>
  </ion-list>  
</ion-content>
