<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #productForm="ngForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="stacked">Categoria</ion-label>
      <ion-select cancelText="Cancelar" [(ngModel)]="product.categoryId" name="category" #category="ngModel" required>
        <ion-select-option value="" selected="true"></ion-select-option>
        <ion-select-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" *ngIf="category.invalid && (category.dirty || category.touched)">
      <ion-label color="danger">
        <p *ngIf="category.errors.required">O campo é obrigatório</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="product.name" name="name" #name="ngModel" required></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="name.invalid && (name.dirty || name.touched)">
      <ion-label color="danger">
        <p *ngIf="name.errors.required">O campo é obrigatório</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Quantidade</ion-label>
      <ion-input type="number" [(ngModel)]="product.amount" name="amount" #amount="ngModel" required appMinValue=1></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="amount.invalid && (amount.dirty || amount.touched)">
      <ion-label color="danger">
        <p *ngIf="amount.errors.required">O campo é obrigatório</p>
        <p *ngIf="amount.errors.appMinValue">O valor não pode ser menor que 1</p>
      </ion-label>
    </ion-item>

    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block" [disabled]="!productForm.form.valid">Salvar
      </ion-button>
    </div>
  </form>
</ion-content>