<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="!showSearch">Detalhes</ion-title>

    <ion-buttons slot="primary" *ngIf="!showSearch">
      <ion-button (click)="searchButtonClick()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <ion-button (click)="reorderButtonClick()">
        <ion-icon slot="icon-only" name="reorder"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar placeholder="Pesquisar" *ngIf="showSearch" showCancelButton="true" (ionCancel)="doSerchBarCancel()"
      (ionChange)="doSerchBarChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center">{{list.name}}</h1>

  <ion-list>
    <ion-item-group *ngFor="let category of productsByCategory">
      <ion-item-divider color="tertiary">
        <ion-label>{{category.categoryName}}</ion-label>
      </ion-item-divider>

      <ion-reorder-group #reorder (ionItemReorder)="doReorder($event, category)">

        <ion-item-sliding *ngFor="let product of category.products">
          <ion-item>
            <ion-label [color]="product.purchased ? 'tertiary': ''"
              [ngClass]="{'product-purchased': product.purchased}">
              {{product.name}} ({{product.amount}})
            </ion-label>
            <ion-checkbox [checked]="product.purchased" slot="start" (ionChange)="onCheckBoxChange(product)">
            </ion-checkbox>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>

          <ion-item-options side="start">
            <ion-item-option [routerLink]="['/tabs/lists/products/edit', list.id, product.id]">
              <ion-icon slot="icon-only" name="create" color="secondary"></ion-icon>
            </ion-item-option>
            <ion-item-option (click)="delete(category, product)">
              <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-item-option>
          </ion-item-options>

        </ion-item-sliding>

      </ion-reorder-group>
    </ion-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!showReorder">
    <ion-fab-button color="secondary" [routerLink]="['/tabs/lists/products/new', this.list.id]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>