// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #00417A;
  --ion-color-primary-rgb: 0,65,122;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00396b;
  --ion-color-primary-tint: #1a5487;

  --ion-color-secondary: #343434;
  --ion-color-secondary-rgb: 52,52,52;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2e2e2e;
  --ion-color-secondary-tint: #484848;

  --ion-color-tertiary: #B8B9BC;
  --ion-color-tertiary-rgb: 184,185,188;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #a2a3a5;
  --ion-color-tertiary-tint: #bfc0c3;

  --ion-color-success: #004D40;
  --ion-color-success-rgb: 0,77,64;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #004438;
  --ion-color-success-tint: #1a5f53;

  --ion-color-warning: #FFEB3B;
  --ion-color-warning-rgb: 255,235,59;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0cf34;
  --ion-color-warning-tint: #ffed4f;

  --ion-color-danger: #B71C1C;
  --ion-color-danger-rgb: 183,28,28;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #a11919;
  --ion-color-danger-tint: #be3333;

  --ion-color-dark: #003664;
  --ion-color-dark-rgb: 0,54,100;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #003058;
  --ion-color-dark-tint: #1a4a74;

  --ion-color-medium: #003C6F;
  --ion-color-medium-rgb: 0,60,111;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #003562;
  --ion-color-medium-tint: #1a507d;

  --ion-color-light: #2E6392;
  --ion-color-light-rgb: 46,99,146;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #285780;
  --ion-color-light-tint: #43739d;
}
