<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #listForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="list.name" name="name" #name="ngModel" required></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="name.invalid && (name.dirty || name.touched)">
      <ion-label *ngIf="name.errors.required" color="danger">O campo é obrigatório</ion-label>
    </ion-item>
    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block" [disabled]="!listForm.form.valid">Salvar</ion-button>
    </div>
  </form>
</ion-content>